@charset "utf-8";
/* CSS Document */

.input
{
	width: 100%;
	height: 800px;
	background-color: antiquewhite;
}

.info
{
	width: 50%;
	height: 800px;
	background-color: aquamarine;
	float: left;
}

.row
{
	width: 120px;
	height: 30px;
	background-color: azure;
	float: left;
}